SYMBOLS=btc:bitcoin,eth:ethereum,cvx:convex-finance,crv:curve-dao-token,blur:blur,gohm:governance-ohm
API=coingecko
# COINGECKO_API_KEY=
# COINGECKO_API_TIER=demo
REFRESH_RATE=300
SLEEP=3
LED_BRIGHTNESS=60
LED_PWM_BITS=7
LED_PWM_LSB_NANOSECONDS=100
LED_SLOWDOWN_GPIO=1
